@model _51800882_51800187_QLSinhVien.Models.MyUser

@{
    ViewBag.Title = _51800882_51800187_QLSinhVien.Res.LangResource.create;
    string errorGV = ViewBag.ErrorGV;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@_51800882_51800187_QLSinhVien.Res.LangResource.user</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @id = "myInput", @type = "password" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                <br />
                <input type="checkbox" onclick="myFunction()">Show Password
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.roles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.roles, new { htmlAttributes = new { @class = "form-control", @readonly = "true", @Value="user" } })
                @Html.ValidationMessageFor(model => model.roles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiangViens.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaGV", null, new { @class = "form-control" })
                @Html.ValidationMessage("MaGV", errorGV, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@_51800882_51800187_QLSinhVien.Res.LangResource.create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@_51800882_51800187_QLSinhVien.Res.LangResource.back, "Index")
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
