@model _51800882_51800187_QLSinhVien.Models.MyUser

@{
    ViewBag.Title = _51800882_51800187_QLSinhVien.Res.LangResource.detail;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@_51800882_51800187_QLSinhVien.Res.LangResource.user</h4>
    <a href='@Url.Action("Edit", new { id = Model.id })' class="btn btn-primary">@_51800882_51800187_QLSinhVien.Res.LangResource.edit</a>
    <hr />
    <table class="table table-bordered" style="width: 30%">
        <tr style="background-color: #eee">
            <td>@Html.DisplayNameFor(model => model.userName)</td>
            <td>@Html.DisplayFor(model => model.userName)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.password)</td>
            <td>@Html.DisplayFor(model => model.password)</td>
        </tr>

        <tr style="background-color: #eee">
            <td>@Html.DisplayNameFor(model => model.roles)</td>
            <td>@Html.DisplayFor(model => model.roles)</td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.MaGV)</td>
            <td>@Html.DisplayFor(model => model.MaGV)</td>
        </tr>

        <tr style="background-color: #eee">
            <td>@_51800882_51800187_QLSinhVien.Res.LangResource.faculty</td>
            <td>@Html.DisplayFor(model => model.GiangViens.Khoa.TenKhoa)</td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink(_51800882_51800187_QLSinhVien.Res.LangResource.back, "Index", "Home")
</p>
