@model _51800882_51800187_QLSinhVien.Models.KetQua

@{
    ViewBag.Title = "Tạo mới";
    FormsIdentity id = (FormsIdentity)User.Identity;
    FormsAuthenticationTicket ticket = id.Ticket;
    var gv = ticket.UserData;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kết Quả</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.MonHocs.TenMH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaMH", null, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.MonHocs.TenMH, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.MaMH } })*@
                @Html.ValidationMessageFor(model => model.MaMH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SinhViens.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaSV", null, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.SinhViens.HoTen, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.MaSV } })*@
                @Html.ValidationMessageFor(model => model.MaSV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Quay lại", "Index")*@
    @if (gv == "admin")
    {
        @Html.ActionLink("Quay lại", "IndexByMaSinhVien", new { masv = ViewBag.aaa })
    }
    else
    {
        @Html.ActionLink("Quay lại", "IndexByMaMonHoc", new { mamh = ViewBag.aaa })
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
