@model IEnumerable<_51800882_51800187_QLSinhVien.Models.KetQua>

@{
    if (ViewBag.Loai == 0)
    {
        ViewBag.Title = "DANH SÁCH ĐIỂM";
        <h2 class="text-center" style="text-transform:uppercase">@ViewBag.Title</h2>
    }
    else if (ViewBag.Loai == 1)
    {
        ViewBag.Title = "ĐIỂM CỦA SINH VIÊN";
        <h2 class="text-center" style="text-transform:uppercase">@ViewBag.Title <b>@ViewBag.TenSV</b></h2>
    }
    else
    {
        ViewBag.Title = "DANH SÁCH ĐIỂM MÔN";
        <h2 class="text-center" style="text-transform:uppercase">@ViewBag.Title <b>@ViewBag.TenMH</b></h2>
    }
    var STT = 1;
}


<div style="display: flex; justify-content: space-between; margin-bottom: 20px;">

    @if (Roles.IsUserInRole(User.Identity.Name, "admin"))
    {
        if (ViewBag.Loai == 1)
        {
            <p>
                <a href='@Url.Action("Create", new { masv = ViewBag.MaSV })' class="btn btn-primary">Tạo mới</a>
            </p>
        }
        else
        {
            @Html.DropDownList("MaMH", null, "-- Môn Học --", new { @class = "form-control", @onChange = "SelectedValue(this)" })
        }
    }

    @if (Roles.IsUserInRole(User.Identity.Name, "user"))
    {
        if (ViewBag.Loai == 2)
        {
            <p>
                <a href='@Url.Action("CreateFromMH", new { mamh = ViewBag.aaa })' class="btn btn-primary">Tạo mới</a>
            </p>
        }

    }


</div>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table table-bordered">
    <tr>
        <th>
            STT
        </th>
        @if (ViewBag.Loai != 2)
        {
            <th>
                Tên môn học
            </th>
        }
        @if (ViewBag.Loai != 1)
        {
            <th>
                Tên sinh viên
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Diem)
        </th>
        @if (Roles.IsUserInRole(User.Identity.Name, "admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @STT
            </td>
            @if (ViewBag.Loai != 2)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.MonHocs.TenMH)
                </td>
            }
            @if (ViewBag.Loai != 1)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.SinhViens.HoTen)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Diem)
            </td>
            
            <td>
                @if (Roles.IsUserInRole(User.Identity.Name, "admin"))
                {
                    if (ViewBag.Loai == 1)
                    {
                        <a href='@Url.Action("Edit", new { stt = item.STT })' class="btn btn-warning">Sửa</a>
                    }
                }
                else {
                    <a href='@Url.Action("Edit", new { stt = item.STT })' class="btn btn-warning">Sửa</a>
                } 

                    <a href='#' class="btn btn-danger btn-remove" data_id="@item.STT">Xóa</a>
                </td>
            
        </tr>
        STT++;
    }

</table>

@if (ViewBag.Loai == 1)
{
    <div>
        @Html.ActionLink("Quay lại", "Index", "SinhVien")
    </div>
}

@section scripts{
    <script>
        function SelectedValue(ddlObject) {
            //Selected value of dropdownlist
            var selectedValue = ddlObject.value;
            if (selectedValue != "") {
                window.location.href = '/KetQua/IndexByMaMonHoc?mamh=' + selectedValue;
            }
            else {
                window.location.href = './Index';
            }
        }

        $(document).ready(function () {
            $('.btn-remove').click(function (e) {
                e.preventDefault();
                var atag = $(this);
                var data_id = atag.attr('data_id');
                if (!confirm("Bạn có chắc chắn xóa?"))
                    return;
                $.ajax(
                    {
                        url: 'https://localhost:44328/api/KetQuaAPI/' + data_id,
                        method: "DELETE",
                        success: function (data) {
                            atag.closest('tr').remove();
                            alert("Đã xóa thành công ");
                            return;
                        },
                        failed: function () {

                        }
                    }
                );
            });
        });
    </script>
}

