
@{
    ViewBag.Title = "Index";
    Layout = null;
    FormsIdentity id = (FormsIdentity)User.Identity;
    FormsAuthenticationTicket ticket = id.Ticket;
    var gv = ticket.UserData;
}

<html>
<head>
    <title>@Resources.Content.systemManagementStudent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
    <body>
        <div class="header">
            <div class="left">
                <a href="#">@Resources.Content.systemManagementStudent</a>
            </div>

            <div class="right">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="user">@Resources.Content.hello, <b>@User.Identity.Name!</b></a>

                    using (Html.BeginForm("Logout", "Home", FormMethod.Post))
                    {
                        <a class="btn btn-danger" href="javascript:;" onclick="document.forms[0].submit();">@Resources.Content.logout</a>
                    }
                }
                <div style="display: flex; justify-content: flex-end; margin-right: 20px;">
                    <a style="margin-left: 10px" href="@Url.Action("ChangeLanguage", "Home", new { lang = "en" })"><img src="https://cdn.countryflags.com/thumbs/united-states-of-america/flag-800.png" width="40" height="26" /></a>
                    <a style="margin-left: 10px" href="@Url.Action("ChangeLanguage", "Home", new { lang = "vi" })"><img src="https://cdn.countryflags.com/thumbs/vietnam/flag-400.png" width="40" height="26" /></a>
                </div>
            </div>
        </div>

        <div class="container">
            @if (gv == "admin")
            {
                <a href="./Khoa" class="box" style="background-color: #90e25e" target="_blank">@Resources.Content.faculty</a>
                <a href="./MonHoc" class="box" style="background-color: #b200ff" target="_blank">@Resources.Content.subject</a>
                <a href="./GiangVien" class="box" style="background-color: #39e4de" target="_blank">@Resources.Content.teacher</a>
                <a href="./KetQua" class="box" style="background-color: #ff006e" target="_blank">@Resources.Content.result</a>
                <a href="./SinhVien" class="box box-1" style="background-color: #0061AD" target="_blank">@Resources.Content.student</a>

            }
            else
            {
                <a href="./SinhVien" class="box" style="background-color: #0061AD" target="_blank">@Resources.Content.student</a>
                <a href="./MonHoc/IndexByMaGV?magv=@gv" class="box" style="background-color: #b200ff" target="_blank">@Resources.Content.subject</a>
            }
        </div>

    </body>
</html>

<style>
    * {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #222;
        padding: 20px;
        align-items: center;
    }

    .left {
        text-transform: uppercase;
        
        font-size: 20px;
    }

    .left a, .right a {
        color: #fff;
        text-decoration: none !important;
    }

    .left a:hover {
        color: #ddd;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user {
        padding-right: 20px;
    }

    .user:hover {
        color: #fff;
    }

    .container{
        padding-top: 20px;
        margin: 20px auto;
        width:60%;
        height:615px;
        background-color:#fff;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .box {
        background-color: #333;
        padding: 20px;
        border-radius: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-family: sans-serif;
        border: 0;
        text-align: center;
        text-decoration: none !important;
        text-transform: uppercase;
        
    }

    .box-1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .box:hover {
        opacity: 0.8;
        transition: 0.4s !important;
        
    }

    .container::before{
        display: none;
    }

    .container::after{
        display: none;
    }
    a:hover{
        color: rgb(212, 216, 216);
        text-decoration: none;
    }
    a:visited{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
</style>

