@model IEnumerable<_51800882_51800187_QLSinhVien.Models.GiangVien>

@{
    ViewBag.Title = _51800882_51800187_QLSinhVien.Res.LangResource.teacherList;
}

<h2 class="text-center" style="text-transform:uppercase"><b>@ViewBag.Title</b></h2>

<p>
    <a href='@Url.Action("Create")' class="btn btn-primary">@_51800882_51800187_QLSinhVien.Res.LangResource.create</a>
</p>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Khoa.TenKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonHocs.TenMH)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaGV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khoa.TenKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonHocs.TenMH)
            </td>
            <td>
                <a href='@Url.Action("Edit", new { id = item.MaGV })' class="btn btn-warning">@_51800882_51800187_QLSinhVien.Res.LangResource.edit</a>

                <a href='#' class="btn btn-danger btn-remove" data_id="@item.MaGV" data_name="@item.HoTen">@_51800882_51800187_QLSinhVien.Res.LangResource.delete</a>
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
            $(document).ready(function () {
                $('.btn-remove').click(function (e) {
                    e.preventDefault();
                    var atag = $(this);
                    var data_id = atag.attr('data_id');
                    var data_name = atag.attr('data_name');
                    if (!confirm('@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.messQuestionDelete) ' + data_name + "?"))
                        return;
                    $.ajax(
                        {
                            url: 'https://localhost:44328/api/GiangVienAPI/' + data_id,
                            method: "DELETE",
                            success: function (data) {
                                atag.closest('tr').remove();
                                alert('@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.messDeleteSuccess) ' + '@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.teacher) ' + data_name);
                                return;
                            },
                            error: function () {
                                alert('@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.messDeleteError) ' + '@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.teacher) ' + data_name + '@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.messDeleteErrorTeacher)');
                            }
                        }
                    );
                });
            });
    </script>
}
