@model IEnumerable<_51800882_51800187_QLSinhVien.Models.MonHoc>

@{
    ViewBag.Title = "DANH SÁCH MÔN HỌC";
}

<h2 class="text-center">@ViewBag.Title</h2>
@if (Roles.IsUserInRole(User.Identity.Name, "admin"))
{
<p>
    <a href='@Url.Action("Create")' class="btn btn-primary">Tạo mới</a>
</p>
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTiet)
        </th>
        @if (Roles.IsUserInRole(User.Identity.Name, "admin"))
        {
            <th></th>
        }
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaMH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTiet)
            </td>
            @if (Roles.IsUserInRole(User.Identity.Name, "admin"))
            {
            <td>
                <a href='@Url.Action("Edit", new { id = item.MaMH })' class="btn btn-warning">Sửa</a>

                <a href='#' class="btn btn-danger btn-remove" data_id="@item.MaMH" data_name="@item.TenMH">Xóa</a>

            </td>
            }
            else { 
            <td>
                <a href='@Url.Action("IndexByMaMonHoc", "KetQua", new { mamh = item.MaMH })' class="btn btn-info">Chi tiết</a>
            </td> 
            }
        </tr>
    }

</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.btn-remove').click(function (e) {
                e.preventDefault();
                var atag = $(this);
                var data_id = atag.attr('data_id');
                var data_name = atag.attr('data_name');
                if (!confirm("Bạn có chắc chắn xóa " + data_name + "?"))
                    return;
                $.ajax(
                    {
                        url: 'https://localhost:44328/api/MonHocAPI/' + data_id,
                        method: "DELETE",
                        success: function (data) {
                            atag.closest('tr').remove();
                            alert("Đã xóa thành công Môn Học " + data_name);
                            return;
                        },
                        error: function () {
                            alert("Đã xóa thất bại Môn Học " + data_name);
                        }
                    }
                );
            });
        });
    </script>
}
