@model IEnumerable<_51800882_51800187_QLSinhVien.Models.Khoa>

@{
    ViewBag.Title = _51800882_51800187_QLSinhVien.Res.LangResource.facultyList;
}

<h2 style="text-transform:uppercase" class="text-center"><b>@ViewBag.Title</b></h2>
@if (Roles.IsUserInRole(User.Identity.Name, "admin"))
{
    <p>
        <a href='@Url.Action("Create")' class="btn btn-primary">@_51800882_51800187_QLSinhVien.Res.LangResource.create</a>
    </p>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKhoa)
        </th>
        @if (Roles.IsUserInRole(User.Identity.Name, "admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoa)
            </td>
            @if (Roles.IsUserInRole(User.Identity.Name, "admin"))
            {
            <td>
                <a href='@Url.Action("Edit", new { id = item.MaKhoa })' class="btn btn-warning">@_51800882_51800187_QLSinhVien.Res.LangResource.edit</a>

                <a href='#' class="btn btn-danger btn-remove" data_id="@item.MaKhoa" data_name="@item.TenKhoa">@_51800882_51800187_QLSinhVien.Res.LangResource.delete</a>

                @*<a href='@Url.Action("IndexByMaKhoa", "SinhVien", new { makhoa = item.MaKhoa })' class="btn btn-info">Xem SV</a>*@
            </td>
            }
        </tr>
    }
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $('.btn-remove').click(function (e) {
                e.preventDefault();
                var atag = $(this);
                var data_id = atag.attr('data_id');
                var data_name = atag.attr('data_name');
                if (!confirm('@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.messQuestionDelete) ' + data_name + "?"))
                    return;
                $.ajax(
                    {
                        url: 'https://localhost:44328/api/KhoaAPI/' + data_id,
                        method: "DELETE",
                        success: function (data) {
                            atag.closest('tr').remove();
                            alert('@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.messDeleteSuccess) ' + '@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.faculty) ' + data_name);
                            return;
                        },
                        error: function () {
                            alert('@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.messDeleteError) ' + '@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.faculty) ' + data_name + '@Html.Raw(@_51800882_51800187_QLSinhVien.Res.LangResource.messDeleteErrorFaculty)');
                        }
                    }
                );
            });
        });
    </script>
}
